/* Mobile & tablet */
@media (max-width: 1023px) {
    .body__category-blog-box:hover {
        transform: unset;
        box-shadow: 0 0.625rem 20px 0 rgb(0 0 0 / 5%);
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .home__header {
        padding: 10px !important;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .home__header,
    .footor__bottom,
    .footor__top,
    .app_home {
        padding: 0 10px;
    }

    .footor__card-item a {
        font-size: 34px;
    }

    .body__category-list-item-mobile {
        display: none;
    }

}

/* Mobile */
@media (max-width: 739px) {
    .home__header{
        position: relative;
    }
    .home__menu {
        z-index: 10;
        position: absolute  ;
        display: none;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        top: 90%;
        transition: all 0.5s;
        }
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
        transition: all 0.5s;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        transition: all 0.5s;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transition: all 0.5s;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition: all 0.5s;
      }
      .menu-mobile-btn{
          background: transparent;
          border: none;
          transition: all 0.5s;
      }
      .home__menu-list-item{
          background-color: var(--primary-color);
          padding: 20px 0;  
          border: 1px solid #000;
          margin: 4px 0;
          transition: all 0.5s;
          overflow: hidden;
        }
        .home__menu-list-item a{
            padding: 16px 125px;
        }

      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}
      .home__menu-list-item{
          text-align: center;
      }

    .home__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .body__category-list-item {
        /* flex-direction: column; */
        /* display: none; */
        font-size: 4px;
    }
    .body__category-list-item-btn{
        font-size: 16px;
    }


    .category-blog-pagination {
        display: none;
    }

    .category__contact-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .footor__card {
        align-items: center;
    }

    .footor__card-item {
        padding: 16px;
    }

    .footor__bottom {
        padding: 2em 0;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: #9ea2a7;
        line-height: 24px;
        font-weight: 200;
        flex-direction: column;
        text-align: center;

    }

    .footor__bottom-copy {
        text-align: center;
    }

    .home__menu-mobile {
        display: block;
    }

    .menu-mobile-btn {
        font-size: 2.2em;
    }

    .home__menu-mobile-menu {
        display: none;
    }

    .body__category-list-menu .body__category-list-item-mobile,
    .body__category-list-menu .body__category-list-item-mobile-btn {
        display: block;
    }
    .body__category {
        padding: 0;
    }
}